Menu(icon="icon.png")

  Menu(label="Documentation")
    Open(label="NixOS Packages") https://search.nixos.org/packages
    Open(label="NixOS Options") https://search.nixos.org/options
    Open(label="Nixpkgs Manual") https://nixos.org/manual/nixpkgs/stable/

  Menu(label="Power")
    Run(label="Powersave").
      gksudo 'cpupower frequency-set -u 800 -d 800'
      xbacklight -set 10
    Run(label="Performance").
      gksudo 'cpupower frequency-set -g performance'
      xbacklight -set 100
    Run(label="Lock & Sleep").
      i3lock
      systemctl suspend

  Menu(label="Consoles")

  Menu(label="Repositories")
    Menu(label="Origins")
      each x in "/srv/git"
        Open(label=x)= `/srv/git/${x}`
    Menu(label="Mirrors")
      each x in "/srv/git-mirrors"
        Open(label=x)= `/srv/git-mirrors/${x}`

  Menu(label="Network")
    Run(label="Rescan wireless networks") gksudo 'iw dev wlp3s0 scan'
    Run(label="Restart Tor") gksudo 'systemctl restart tor'
    Run(label="Restart VPN") gksudo 'systemctl restart mullvad-daemon'
    Run(label="Reconnect VPN") mullvad reconnect

  Menu(label="Printing")
    Run(label="Restart printing service") gksudo 'systemctl restart cups'
